/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 sep. 2022, 19:14:15
    Author     : marvinjimenez
*/

.block{
    
    background-color: purple;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 20px solid blue;
    box-sizing: border-box;
    
}

.static{
    
    position: static;
    border: 3px solid green;
    top: 400px;
    left: 50px;
    
}

.absolute{
    
    position: absolute;
    border: 3px solid yellow;
    top: 200px;
    left: 100px;
    
}

.relative{
    
    position: relative;
    width: 200px;
    height: 200px;
    border: 3px solid red;
    top: 400px;
    left: 500px;
    
}

.fixed{
    
    position: fixed;
    border: 3px solid yellow;
    top: 150px;
    left: 100px;
    
}
